.App {
  text-align: center;
  border: 2px solid red;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}



.logo{
  color: white;
  margin-top: 10px;
}

.navlink > a {
   display: flex;
   justify-content: space-between;
   color: white;
   font-weight: bold;
   text-decoration: none;
   margin-top: 30px;
}

.btn{
  border: 3px solid red;
    background-color: aqua;
    color: white;
    border-radius: 15px;
    height: 30px;
    padding: 3px 10px;
    margin-top: 30px;
}







/* ////***************************************************************************************************************************** */






.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
