
.main{
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.5rem;

}

.taskApp {
  /* Sample */
  border: 1px solid red;
  width: 100%;
  max-width: 380px;
  text-align: center;
  background-color: azure;
  border-radius: 0.5rem;
}
