.App {
  text-align: center;
}

.themebtn{
  font-size:80px;
  border: 1px solid red;

}

.theme{
  /* border: 1px solid red; */

  border: 2px solid;
   position: fixed;
   top: 0;
   font-weight: bold;
   /* background-color:rgb(111, 165, 111); */
background-color:aqua;
}

.filt{
  height: 60px;
  width: 100%;
  margin-left: 78px;
  /* border: 1px solid red; */
  position: fixed;
  background-color:rgb(135, 97, 174);
top: 0;
font-size:20px;
  display: flex;
  justify-content:space-around;
  gap: 300px;
  /* margin-top:100px; */
  /* margin-bottom:1000px; */
}
option{
  font-size:20px;
  width: 200px;
}

.grid{
  /* padding-top: 100px; */
  /* border: 4px solid red; */
  /* margin-left: 200px;  */
  /* margin-top: 500px; */
  /* padding-left: 10px; */
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* gap: 10px; */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
