
  .topform {
    width: 90vw;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;

  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  form {
    display: flex;
    min-width: 500px;
    height: 600px;
    flex-direction: column;
    gap: 15px;
    padding: 5px 20px;
    background-color: rgb(133, 80, 255);
  }
  
  h1 {
    color: rgb(218, 32, 51);
    font-size: 40px;
    text-align: center;
    background-color: rgb(10, 157, 37);
    margin-bottom: 30px;
    /* margin-left: 30px; */
  }
  

  input,
  select {
    margin-bottom: 15px;
    border-radius: 7px;
    padding: 10px;
    font-size: 25px;
  }
  
  #submit {
    background-color: rgb(49, 128, 0);
    font-size: 25px;
   
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px 20px;
    text-align: center;
  }
  